<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>publicKey</key>
	<string>2693ab2ebee2ae0fa39ad11b65ddaf49</string>
	<key>privateKey</key>
	<string>744e06ac0ebdbee8d845aae55e5961c35d8d167c</string>
</dict>
</plist>
